/* Make table green and round */
.table {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 120px;
    height: 120px;
    margin: auto;
    background-color: white;
    border: 2px solid black;
}

.pot {
    width: 200px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.player {
    position: absolute;
}


.deg0 {
    transform: rotate(0deg) translate(300px);
}

/* 12em = half the width of the wrapper */
.deg45 {
    transform: rotate(45deg) translate(300px);
}

.deg135 {
    transform: rotate(135deg) translate(300px);
}

.deg180 {
    transform: rotate(180deg) translate(300px);
}

.deg225 {
    transform: rotate(225deg) translate(300px);
}

.deg315 {
    transform: rotate(315deg) translate(300px);
}

#status {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}

.controls {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.controls .action-btn {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: white;
    width: 100px;
    height: 50px;
}